PoC.Console/Service References/htppsService/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://desktop-ulaj4ka/PoC.Services.Host/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PoC.Entities.Criteria" />
  <xs:import schemaLocation="https://desktop-ulaj4ka/PoC.Services.Host/ProductService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PoC.Entities" />
  <xs:element name="GeyByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PoC.Entities.Criteria" minOccurs="0" name="productCriteria" nillable="true" type="q1:ProductCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeyByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PoC.Entities" minOccurs="0" name="GeyByCriteriaResult" nillable="true" type="q2:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>